{% extends 'blogs/blog_base.html' %}

{% block title %}Logout{% endblock %}

{% block content %}
  <h2>Logout</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Logout</button>
  </form>
{% endblock %}