{% extends "blogs/blog_base.html" %}

{% load staticfiles %}

{% block head_title %}{{ SITE_NAME }}{% endblock %}

{% block content %}
        <div class="container">

                <div class="contact">
                    <form action="/postnew/" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="subject">Subject:</label>
                            <input type="text" class="form-control" id="subject">
                        </div>
                        <div class="form-group">
                            <label for="message">Message:</label>
                            <textarea class="form-control" rows="5" id="message"></textarea>
                        </div> 
                        <button type="submit" class="btn btn-default">Submit</button>


                </div>    
        </div>
{% endblock %}
